<td>
	<div class="tooltip-left">
		<a href="/characters/{{name}}">
			<img class="{{alignment}} ranking-table-character" data-name="{{name}}" data-alignment="{{alignment}}" data-rank="{{rank}}" data-faction="{{#each faction}} {{this}} {{/each}}" src="{{pic}}" />
		</a>
		<span class="tooltiptext-left">{{name}}</span>
	</div>
</td>